{% extends 'base.html' %}

{% block title %}Pizzas{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <h2 class="title">Make your own pizza</h2>
</div>


<div class="container d-flex justify-content-center">
    <form action="/save_pizza" method="post">
        <div class="form-group">
            <label for="pizza_name">Pizza Name:</label>
            <input type="text" name="pizza_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" class="form-control" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="toppings">Toppings:</label>
            <textarea name="toppings" class="form-control" cols="30" rows="5"></textarea>
        </div>

        <input type="hidden" name="user_id" value="{{ session['user_id'] }}">

        <input type="submit" value="Create Pizza" class="btn btn-success mt-2">
    </form>
</div>
{% endblock %}