{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-2">
    <h2 class="title">Register to go to pizza heaven</h2>
</div>

<div class="d-flex justify-content-center mt-5">
    <form action="/register_handler" method="post">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" class="form-control">
        </div>

        <input id="myButton" type="submit" value="Register" class="btn btn-success mt-2">
    </form>
</div>

<div class="d-flex justify-content-center mt-5">
    <p class="account-link">Forgot you actually have an account? Login <a href="/home">here</a> dummy</p>
</div>
{% endblock %}